@import "fonts.scss";
@import "mixins";

:root {
  --color-dark: #222;
}

body {
  @include font-primary;
  line-height: 150%;
  color: var(--color-dark);
  font-weight: 400;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}